/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end Eric Meyer's Reset CSS */

/* Base */
html,
body,
#app {
  color: #111;
  font-size: 16px;
  font-family: 'San Fransisco Text', system, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
}

#app {
  min-width: 320px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid #f31e8a;
}

a:hover {
  border-bottom: 3px solid #1ea3f3;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
}

h5 {
  font-size: 16px;
}

p,
.text {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin: 16px 0;
}
/* end Base */

.row {
  display: flex;
  flex-direction: row;
}

.App {
  flex-direction: column;
}

.Header {
  background: #000;
  color: white;
  height: 80px;
  padding: 0 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header__wrapper {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;

  display: flex;
}

.left,
.right {
  flex-direction: row;
  align-items: center;
}

.right {
  margin-left: auto;
}

.icons {
  flex-direction: row;
}

.icons > *:not(:last-child) {
  margin-right: 24px;
}

.icon,
.icon svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.Footer {
  padding: 32px;
  text-align: center;
  color: #ccc;
}

.content__wrapper {
  padding: 32px;
}

.content {
  margin: 0 auto;
  max-width: 680px;
  width: 100%;
  line-height: 1.7;
}

.content > * {
  margin: 0 auto 16px auto;
}

.Posts {
  flex-direction: column;
  width: 100%;
}

.Posts > *:not(:last-child) {
  margin-bottom: 32px;
}

.Post__image {
  height: 16rem;
}

.Post__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.summary {
  color: #888;
}

.Hero {
  height: 33vw;
  max-height: 480px;
  min-height: 240px;
  color: white;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

.Hero__wrapper {
  background: #000;
  user-select: none;
  pointer-events: none;
}

.Hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  color: #888;
}
